body {
  padding-top: 100px;
}

table {
  font-size: 12px;
}

#nprogress .bar,
#nprogress .spinner {
  z-index: 999999;
}

#nprogress .spinner {
  top: 5px;
  right: 5px;
}

#nprogress .bar {
  height: 4px;
}

/* Fancy blur effect */
#nprogress .peg {
  -webkit-transform: rotate(3deg) translate(0px, -2px);
      -ms-transform: rotate(3deg) translate(0px, -2px);
          transform: rotate(3deg) translate(0px, -2px);
}

.input-group {
  margin-bottom: 15px;
}

.navbar-inverse .navbar-nav > li > a.nav_exit {
  color: #ac2925;
} 

.navbar-inverse .navbar-nav > li > a.nav_exit:hover {
  color: #d9534f; 
}

.navbar-inverse .navbar-nav > li > a.nav_minimize {
  color: #DBC116;
} 

.navbar-inverse .navbar-nav > li > a.nav_minimize:hover {
  color: #FFE600;
}

.navbar-inverse .navbar-nav > li > a.nav_maximize {
  color: #61B329;
}

.navbar-inverse .navbar-nav > li > a.nav_maximize:hover {
  color: #83F52C;
}

.removeKeyword:hover {
  color: #ac2925;
}

.navbar-inverse .navbar-nav > li > a.nav_blue {
  color: #2a64ba;
}

.navbar-inverse .navbar-nav > li > a.nav_blue:hover {
  color: #428bfd;
}

.navbar-nav.nav-justified > li{
  float:none;
}

.nav-justified > li {
  display: table-cell;
  width: 1%;
}

.settings_item {
  padding-top: 20px;
  padding-bottom: 20px;
  margin: -15px;
  margin-bottom: -20px;
}

.jumbo_small {
  font-size: 16px !important;
}

.settings_what {
  background-color: #eee;
}

.settings_status {
  background-color: #fff; 
}

.settings_contact {
  background-color: #eee;
}

.subActionBar {
  background-color: #eee;
  margin: -15px;
  padding: 15px;
} 

.itemsholder {
  padding-top: 20px;
}

.navbar-nav {
  float: none;
}

.windowtitle {
  color: #eee;
  margin-top: 3px;
  margin-bottom: 3px;
  padding-left: 30px;
}

nav {
  -webkit-app-region: drag;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: moz-none;
  -ms-user-select: none;
  user-select: none;
}

button {
  -webkit-app-region: no-drag;
}

a {
  -webkit-app-region: no-drag;
}
