body {
  padding-top: 70px;
}

table {
  font-size: 12px;
}

#nprogress .bar,
#nprogress .spinner {
  z-index: 999999;
}

#nprogress .spinner {
  top: 18px;
  right: 6px;
}

#nprogress .bar {
  height: 4px;
}

/* Fancy blur effect */
#nprogress .peg {
  -webkit-transform: rotate(3deg) translate(0px, -2px);
      -ms-transform: rotate(3deg) translate(0px, -2px);
          transform: rotate(3deg) translate(0px, -2px);
}

.input-group {
  margin-bottom: 15px;
}

.favouritekeywords {
  margin-bottom: 15px;
}

.navbar-inverse .navbar-nav > li > a.nav_red {
  color: #d9534f;
} 

.navbar-inverse .navbar-nav > li > a.nav_red:hover {
  color: #ac2925;
}

.navbar-inverse .navbar-nav > li > a.nav_blue {
  color: #428bca;
}

.navbar-inverse .navbar-nav > li > a.nav_blue:hover {
  color: #2a6496;
}

.navbar-nav.nav-justified > li{
  float:none;
}

.nav-justified > li {
  display: table-cell;
  width: 1%;
}

.settings_item {
  padding-top: 20px;
  padding-bottom: 20px;
  margin: -15px;
  margin-bottom: -20px;
}

.jumbo_small {
  font-size: 16px !important;
}

.settings_what {
  background-color: #eee;
}

.settings_status {
  background-color: #fff; 
}

.settings_contact {
  background-color: #eee;
}

.navbar-nav {
  float: none;
}

nav {
  -webkit-app-region: drag
}

