<div class="container-fluid">
  <!-- Navigation -->
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      
      {{!-- Brand --}}
      <div class="navbar-header disabled">
        <a class="navbar-brand" href="#">SJgrapper</a>
      </div>

      {{!-- Main Nav Holder --}}
      <div class="collapse navbar-collapse">
        
        {{!-- Navigation Tabs --}}
        <ul class="nav nav-pills navbar-nav" id="appNavigationTab">
          <li class="active"><a href="#all_tab" data-toggle="tab"><i class="fa fa-eye"></i> discover</a></li>
          <li><a href="#favourites_tab" data-toggle="tab"><i class='fa fa-star'></i> favourites</a></li>
          <li><a href="#settings_tab" data-toggle="tab"><i class="fa fa-bars"></i> settings</a></li>
        </ul>

        {{!-- Action Button in Navbar --}}
        <form class="navbar-form navbar-right">
          {{!-- Refetch --}}
          <button type="button" id="refetch_button" data-loading-text="<i class='fa fa-cloud-download'></i> fetching..." class="btn btn-link appCycleDependent"><i class="fa fa-cloud"></i> fetch serienjunkies.org</button>
        </form>

      </div>

    </div>
  </nav>

  {{!-- Tab Content --}}
  <div class="tab-content">
    <div id="all_tab" class="tab-pane fade in active">
      {{!-- Search + add to favourites --}}
      <div class="input-group">
        <span class="input-group-addon"><i class='fa fa-search'></i></span>
        <input id="search_input" type="text" class="form-control" placeholder="search for keywords (e.g. title, format, rls groups)">
        <span class="input-group-btn">
          <button type="button" id="addkeyword_button" data-loading-text="<i class='fa fa-heart'></i> keyword" class="btn btn-primary appCycleDependent"><i class='fa fa-heart'></i> keyword</button>
        </span>
      </div>
      {{!-- TEMPLATE --}}
      <div id="all_items">template items</div>
    </div>
    <div id="favourites_tab" class="tab-pane fade">
      {{!-- TEMPLATE --}}
      <div id="favourite_keywords">template favourites</div>
      <div id="favourite_items">template items</div>
    </div>
    <div id="settings_tab" class="tab-pane fade">
      {{!-- TEMPLATE --}}
      <div id="settings">template settings</div>
    </div>
  </div>

</div>