<!-- set up borders around the application -->
<div id="app-border-top"></div><div id="app-border-bottom"></div>
<div id="app-border-left"></div><div id="app-border-right"></div>

<!-- topLevelContainer holds the main application -->
<div class="container-fluid topLevelContainer">
  <!-- Navigation -->
  <nav class="navbar navbar-inverse navbar-fixed-top disallowHighlighting" role="navigation">
    <div class="container-fluid">

      <div class="row windowBar">

        <div class="col-xs-4 windowBarLeftCol">
          {{#if platform.mac}}
            {{!-- NW_controls: System MAC --}}
            <form class="navbar-left">
              <ul class="nav nav-pills navbar-nav">
                <li><a href="" class="nwapp_menu_controls nav_exit dismissLinkAction"><i class="fa fa-times-circle"></i></a></li>
                <li><a href="" class="nwapp_menu_controls nav_minimize dismissLinkAction"><i class="fa fa-minus-circle"></i></a></li>
                <li><a href="" class="nwapp_menu_controls nav_maximize dismissLinkAction"><i class="fa fa-plus-circle"></i></a></li>
              </ul>
            </form>
          {{else}}
            {{!-- NW_controls: Refetch WIN or LINUX--}}  
            <form class="navbar-left">
              <ul class="nav nav-pills navbar-nav">
                <li><a href="" id="refetch_button" data-loading-text="<i class='fa fa-cloud-download'></i>" class="appCycleDependent dismissLinkAction nav_blue nwapp_menu_controls"><i class="fa fa-cloud"></i></a></li>
              </ul>
            </form>
          {{/if}}
        </div>

        <div class="col-xs-4 windowBarMiddleCol">
          {{!-- Titlebar --}}
          <p class="windowtitle text-center disabled">{{name}} v{{version}}</p>
        </div>

        <div class="col-xs-4 windowBarRightCol">
          {{#if platform.mac}}
            {{!-- NW_controls: Refetch MAC --}}  
            <form class="navbar-right">
              <ul class="nav nav-pills navbar-nav">
                <li><a href="" id="refetch_button" data-loading-text="<i class='fa fa-cloud-download'></i>" class="appCycleDependent dismissLinkAction nav_blue nwapp_menu_controls"><i class="fa fa-cloud"></i></a></li>
              </ul>
            </form>
          {{else}}
            {{!-- NW_controls: System WIN or LINUX --}}
            <form class="navbar-right">
              <ul class="nav nav-pills navbar-nav">
                <li><a href="" class="nwapp_menu_controls nav_minimize dismissLinkAction"><i class="fa fa-minus-circle"></i></a></li>
                <li><a href="" class="nwapp_menu_controls nav_maximize dismissLinkAction"><i class="fa fa-plus-circle"></i></a></li>
                <li><a href="" class="nwapp_menu_controls nav_exit dismissLinkAction"><i class="fa fa-times-circle"></i></a></li>
              </ul>
            </form>
          {{/if}}
        </div>

      </div>

      <div class="row">
        {{!-- Main Navigation Tabs --}}
        <ul class="nav nav-pills navbar-nav nav-justified" id="appNavigationTab">
          <li><a href="#all_tab" data-toggle="tab"><i class="fa fa-eye fa-2x"></i></a></li>
          <li class="active"><a href="#favourites_tab" data-toggle="tab"><i class='fa fa-star fa-2x'></i></a></li>
          <li><a href="#settings_tab" data-toggle="tab"><i class="fa fa-bars fa-2x"></i></a></li>
        </ul>
      </div>

    </div>
  </nav>
</div>


{{!-- Tab Content --}}
<div id="mainContentContainer" class="tab-content">
  <div id="all_tab" class="tab-pane fade">
    <div class="container-fluid">
      {{!-- Search + add to favourites --}}
      <div class="input-group input-group-lg subActionBar">
        <span class="input-group-addon disallowHighlighting"><i class='fa fa-search'></i></span>
        <input id="search_input" type="text" class="form-control" placeholder="search for keywords (e.g. 'title format release-group language')">
        <span class="input-group-btn disallowHighlighting">
          <button type="button" id="addkeyword_button" class="btn btn-primary disabled"><i class='fa fa-heart'></i> keyword</button>
        </span>
      </div>
      {{!-- TEMPLATE --}}
      <div id="all_items" class="itemsholder">template items</div>
    </div>
  </div>
  <div id="favourites_tab" class="tab-pane fade in active">
    <div class="container-fluid">
      {{!-- TEMPLATE --}}
      <div id="favourite_keywords" class="subActionBar">template favourites</div>
      <div id="favourite_items" class="itemsholder">template items</div>
    </div>
  </div>
  <div id="settings_tab" class="tab-pane fade">
    <div class="container-fluid">
      {{!-- TEMPLATE --}}
      <div id="settings">template settings</div>
    </div>
  </div>
</div>