<div class="container-fluid">
  <!-- Navigation -->
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      
      {{!-- Brand --}}
      <div class="navbar-header">
        <a class="navbar-brand" href="#">SJgrapper</a>
      </div>

      {{!-- Main Nav Holder --}}
      <div class="collapse navbar-collapse">
        
        {{!-- Navigation Tabs --}}
        <ul class="nav nav-pills navbar-nav">
          <li><a href="#all_tab" data-toggle="tab"><i class="fa fa-eye"></i> All</a></li>
          <li class="active"><a href="#favourites_tab" data-toggle="tab"><i class="fa fa-heart"></i> Favourites</a></li>
          <li><a href="#settings_tab" data-toggle="tab"><i class="fa fa-bars"></i> Settings</a></li>
        </ul>

        {{!-- Action Button in Navbar --}}
        <form class="navbar-form navbar-left" role="search">
          {{!-- Refetch --}}
          <button type="button" id="refetch_button" data-loading-text="<i class='fa fa-refresh'></i>" class="btn btn-danger appCycleDependent"><i class="fa fa-refresh"></i></button>
          {{!-- Search Input --}}
          <div class="form-group">
            <input id="search_input" type="text" class="form-control" placeholder="search">
          </div>
          {{!-- Search add keyword --}}
          <button type="button" id="addkeyword_button" data-loading-text="<i class='fa fa-heart'></i>" class="btn btn-primary appCycleDependent"><i class="fa fa-heart"></i></button>
        </form>

      </div>

    </div>
  </nav>

  {{!-- Tab Content --}}
  <div class="tab-content">
    <div id="all_tab" class="tab-pane fade">
      <div id="all_items">template items</div>
    </div>
    <div id="favourites_tab" class="tab-pane fade in active">
      <div id="favourite_keywords">template favourites</div>
      <div id="favourite_items">template items</div>
    </div>
    <div id="settings_tab" class="tab-pane fade">
      <div id="settings">template settings</div>
    </div>
  </div>

</div>