<button type="button" id="refetch_button" data-loading-text="<i class='fa fa-coffee'></i> fetching" class="btn btn-block btn-default btn-lg"><i class="fa fa-refresh"></i> refetch</button>
<div id="favourites"></div>