<table class="table table-hover table-condensed">
  <thead>
    <td>Date</td>
    <td>Title</td>
  </thead>
  <tbody>
    {{! output each favourite item}}
    {{#each favourites}}
    <tr>
      <td>{{date}}</td>
      <td><a href="{{link}}">{{title}}</a></td>
    </tr>
    {{/each}}
  </tbody>
</table>