{{#if nextFetchTime}}
  <p class="text-center lead">next <i class='fa fa-cloud'></i> fetch will automatically take place at {{nextFetchTime}} (every {{interval}} minutes).</p>
{{else}}
  <p class="text-center lead"><i class='fa fa-cloud-download'></i> fetch in progress (every {{interval}} minutes).</p>
{{/if}}

<p></p>
<p class="text-center lead">problems with these <i class="fa fa-bug fa-5x"></i>? hit the big red button!</p>
<p class="text-center"><button type="button" id="clearreset_button" data-loading-text="<i class='fa fa-bolt'></i> clear cache and reset settings" class="btn btn-danger btn-lg appCycleDependent">clear cache, reset settings and fetch</button></p>