<h4>It's f**king easy to update!</h4>
<p>You should now already be downloading a newer version of {{appName}} with your web browser. <strong>Just launch the newer version</strong> once it's finished and <strong>feel free to delete THIS CURRENT APPLICATION without any consequences!</strong></p>
<h4>What about my saved favourites (queries), links, releases...?</h4>
<p><strong>All current settings</strong> - your grabbed favourites, releases and links - are kept in a separate directory, so don't worry about them, <strong>you won't lose anything when migrating to a newer version!</strong> Just give it a try!</p>