<p>You are about to remove the starred query <strong>'{{keyword}}'</strong>!<br /><small>All previously grabbed links will remain saved.</small></p>
<p class="text-center lead leadnomargin">Proceed?</p>