<h4><i class="fa fa-gavel"></i> license terms <small><em>(read this carefully!)</em></small></h4>
<p>SJgrapper is free software, licensed under the MIT license and all sources are available on <a href="">github</a>. Don't download this application from anywhere else! SJgrapper uses several 3rd party libraries to function properly. You have to read and agree to <a href="">the full license information</a>! </p>

<h4><i class="fa fa-exclamation-circle"></i> usage terms <small><em>(read this even more carefully!!!)</em></small></h4>
<p>SJgrapper fetches links from serienjunkies.org. This operation might be <strong>illegal</strong> in your country and I strongly urge you to check with your local law before you use it. The creator <strong>cannot be held responsible</strong> for any violations due to your actions within this application, it's solely you! Furthermore I'm not responsible for any content that gets downloaded from serienjunkies.org!</p>

<p class="text-center lead">Do you understand and agree to <strong>all</strong> license and usage terms?</p>